<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js" integrity="sha384-/TgkGk7p307TH7EXJDuUlgG3Ce1UVolAOFopFekQkkXihi5u/6OCvVKyz1W+idaz" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <a href="/">Home</a>
        <a href="/list">List</a>
    </header>
    <h2 th:text="${board.title}"></h2>
    <span th:text="${board.createdAt}"></span>
    <button onclick="updateReq()">수정</button>
    <button hx-target="body" hx-swap="innerHTML" hx-push-url="true" th:hx-delete="@{/board/{id}(id=${board.id})}">삭제</button>
    <hr>
    <pre th:text="${board.contents}"></pre>
    <script>
        const updateReq = () => {
            const id = [[${board.id}]];
            location.href = `/update/${id}`;
        }
    </script>
</body>
</html>