<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List</title>
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js" integrity="sha384-/TgkGk7p307TH7EXJDuUlgG3Ce1UVolAOFopFekQkkXihi5u/6OCvVKyz1W+idaz" crossorigin="anonymous"></script>
    <style>
        ol {
            padding-left: 0;
            margin-left: 0;
            list-style-position: inside;
        }
        li:hover {
            cursor: pointer;
        }
    </style>
</head>
<body>
    <header>
        <a href="/">Home</a>
        <a href="/list">List</a>
    </header>
    <ol>
        <div hx-get="/api/list?page=0" hx-trigger="revealed" hx-swap="outerHTML"></div>
    </ol>
</body>
</html>