<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update</title>
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js" integrity="sha384-/TgkGk7p307TH7EXJDuUlgG3Ce1UVolAOFopFekQkkXihi5u/6OCvVKyz1W+idaz" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <a href="/">Home</a>
        <a href="/list">List</a>
    </header>
    <div th:if="${errorMessage}" style="color:red;">
        <span th:text="${errorMessage}"></span>
    </div>

    <form th:hx-put="@{/board/{id}(id=${board.id})}" hx-swap="outerHTML">
        <input placeholder="제목" type="text" name="title" th:value="${board.title}">
        <hr>
        <textarea placeholder="내용" cols="50" rows="20" name="contents">[[${board.contents}]]</textarea><br>
        <input type="submit">
    </form>
</body>
</html>